//Fonts
h1 {
    color: $pink;
    font-family: $font;
}
h2 {
    color: $black;
    font-family: $font;
}
h3 {
    color: $black;
    font-family: $font;
}
h4 {
    color: $black;
    font-family: $font;
}
h5 {
    color: $black;
    font-family: $font;
}
h6 {
    color: $black;
    font-family: $font;
}
p {
    font-family: $font;
}

//Layout
body {
    background: $pink;
}

.central-column {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.content-container {
    background: $white;
    height: 100vh;
    @media screen and (min-width: 1000px) and (max-width: 1500px) {
        //Media Query
    }
}
.content-container-odd {
    background: $black;
    color: $white;
    height: 100vh;
}
.content {
  padding: 50px 15px 15px 15px;
}

//Menu
.menu {
  @media screen and (min-width: 670px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    vertical-align: middle;
  }
  @media screen and (max-width: 670px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: stretch;
    height: 100vh;
  }
}
