//Fonts
h1 {
    font-family: $font;
}
h2 {
    font-family: $font;
}
h3 {
    font-family: $font;
}
h4 {
    font-family: $font;
}
h5 {
    font-family: $font;
}
h6 {
    font-family: $font;
}
p {
    font-family: $font;
}

//Layout


.central-column {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.content-container-wrapper {
  background: $white-secondary;
}
.content-container-odd-wrapper {
  background: $black-secondary;
}
.content-container {
  background: $white-secondary;
  color: $black-secondary;
  height: 100vh;
  @media screen and (min-width: 1000px) and (max-width: 1500px) {
        //Media Query
    }
}
.content-container-odd {
    background: $black-secondary;
    color: $white-secondary;
    height: 100vh;
}
.content {
  padding: 50px 15px 15px 15px;
}
