$black: #1a1a1a;
$black-secondary: #212121;
$pink: #ff117f;
$white: #fff;
$accent: #3C89E4;
$font: 'Roboto', sans-serif;
$normal: 300;
$bold: 700;

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin:  0;
  padding: 0;
}
